
.payment-table {
   
    width: 90%; 
   height:200px;
    margin-bottom: 50px;
    border: 2px solid #9C6644 ;
    
  }
  .scroll{
    overflow-y: scroll;
    
   
  }
  ::-webkit-scrollbar.scroll{
background-color: #9C6644;
  }
  
  .payment-table th,
  .payment-table td {
    padding: 9px; 
  }
  
  
  .payment-table tfoot {
    font-weight: bold; 
  }
  